@model IdentityServer4.Models.Client

@{
}

<div class="client">
    @Html.Partial("_ClientHeader", Model)

    <div class="row">
        <div class="col-sm-10">
            @using (Html.BeginForm("AddClientScope", "Clients", FormMethod.Post, new
            {
                @class = ""
            }))
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.TextBox("scope", "", new {@class = "form-control", required = "required", placeholder = "Enter a scope name"})
                        </div>
                    </div>
                </div>

                //@Html.EditorFor(c)

                <button class="btn btn-info">Add scope</button>
            }
        </div>
    </div>
    @foreach (var scope in Model.AllowedScopes)
    {
        <div class="row">
            <div class="col-sm-10">
                @scope
            </div>
            <div class="col-sm-2">
                @Html.ActionLink("Remove", "GetClientScopes", new
                {
                    clientId = Model.ClientId,
                    removeScope = scope
                }, new {@class = "btn btn-danger"})
            </div>
        </div>
    }
</div>